@font-face {
  font-family: "Loyola";
  src: local("Loyola"), url(./assets/fonts/Loyola.otf) format("opentype");
}

body {
  margin: 0;
  font-family: "Loyola", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcf4d9 !important;
}

h1 {
  font-family: "Loyola";
}

h2 {
  font-family: "Loyola";
}

h3 {
  font-family: "Loyola";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color:#9ce5d8 ;
  margin-bottom: 60px;
  margin-top: 0px;
  padding-bottom: 40px;
  padding-top:40px;
  
}




.dibujo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.centrarImagen {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}

.centrarTexto {
  text-align: center;
}

.centrarVertical{
  display: grid;
  place-items: center;
}

.tituloRoom {
  margin-bottom: 18px;
}

.textoRoom {
  text-align: justify;
  font-size: 19x;
}

.anchoRow {
  width: -webkit-fill-available !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.imagenesCuadrado {
  width: 100%;
}

.botonCuadro {
  padding: 0;
  border: none;
  width: -webkit-fill-available !important;
}

.espacioCuadro {
  padding: 0 !important;
}

.cuadroActivo {
  width: 100%;
}

.cuadroInactivo {
  filter: brightness(0.4);
  width: 100%;
}

/* Pop Up  */

.modal {
  font-size: 12px;
}
.headerModal {
  width: 100%;
  border-bottom: 1px solid #fcf4d9;
  font-family: 'Loyola';
  font-size: 25px;
  text-align: center;
  padding: 5px;
}
.contentModal {
  width: 100%;
  padding: 10px 5px;
  font-size: 17px;
  font-weight: 800;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.codigos{
  border: 2px dashed black;
  background: transparent;
  font-size: 17px;
  font-weight: 800;
  text-align: center;  
}

.codigos:focus-visible {
  border: 2px dashed black!important;
}
.buttonModal {
  background-color: #fff;
  border: 3px dashed var(--ifm-link-color);
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  line-height: 2em;
  margin: 10px 15px;
  outline: 0;
  padding: 0 30px;
  position: relative;
  text-transform: uppercase;
  transition: 0.3s;
}

/*Mi Pop Up*/

.modalContent {
  position: fixed;
  inset: 0px;
  display: flex;
  z-index: 999;
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.5);
}

.popupContent {
  position: relative;
  margin: auto;
  max-width: 600px;
  width: 90%;
  pointer-events: auto;
  background-color: #9ce5d8/*#5e9ca3*/;
  border: 1px solid #3d666b;
  color: #000;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
}

.activo {
  display: block;
}
.inactivo {
  display: none;
}

/* Rooms  */

.contenedor {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.imagenHabitacion {
  width: -webkit-fill-available !important;
}




.error{
  color:red;
  font-size:21px;
  font-weight:800;
}



/* Botonera */

.btnNombre{
  margin:15px;

}
.botonera {
  margin-top: 1.5% !important;
  margin-bottom: 10.5% !important;
}
.botones-popUp {
  visibility: visible;
  animation-duration: 1.25s !important;
  animation-iteration-count: infinite !important;
  animation-name: pulse !important;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.3333333;
  border-radius: 6px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #000;
  background-color:#fcf4d9;
  border-color: #000000;
  border-width: 2px;
  font-weight: 700;
  margin-top:15px;
}

.botones-popUp:hover{
  background-color: #FE5976;
  color:#fff
}

/* Botones */
.botones {
  visibility: visible;
  animation-duration: 1.25s !important;
  animation-iteration-count: infinite !important;
  animation-name: pulse !important;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #fcf4d9;
  background-color:#07beb8;
  border-color: #000000;
  border-width: 2px;
  font-weight: 700;
}

.botones:hover{
  color:#000;
  background-color:#fcf4d9;
}

/* Media */

/* 768 px */
@media only screen and (max-width: 768px) {
  .header {
    margin-bottom: 30px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 15px;
  }
  .tituloRoom {
    margin-bottom: 18px;
    margin-top: 20px;
  }

  .contenedor {
    margin-left: auto !important;
    margin-right: auto !important;
}

.nombreHabitacion {
  margin-top: 20px!important;
}
}


/* PUZZLE */

.pantalla {
  display: grid;
  place-items: center;
  height: 70vh;
}

.board {
  position: relative;
  padding: 0;
}
.tile {
  position: absolute;
  list-style: none;
  background: #ec6f66;
  display: grid;
  place-items: center;
  font-size: 20px;
}
